/* Fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  width: 100%;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  padding: 20px;
  flex-direction: row;
  background-color: #fafafa;
  /* position: fixed; */
}
header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-list .logo {
  font-size: 40px;
}

.nav-list a {
  margin-right: 30px;
  text-decoration: none;
  font-size: 20px;
  transition: 0.3s ease-in-out;
  font-family: "Exo 2";
  color: #0f0f0f;
}
.nav-list a:hover {
  color: #0056b3;
  transition: 0.3s ease-in-out;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 30px;
}

.rightnav {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
}
.rightnav input {
  height: 80%;
  width: 200px;
  /* border: 1px solid black; */
  background-color: #f2f2f2;
  border: 1px solid black;
  border-radius: 20px 0px 0px 20px;
  padding-left: 20px;
}

.rightnav input:focus {
  border: none;
}

.rightnav .btn {
  /* padding: 5px 10px; */
  border: none;
  width: 80px;
  background-color: #007bff;
  color: white;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  height: 80%;
  border: 1px solid black;
  border-left: none;
}

.rightnav .btn:hover {
  background-color: #0056b3;
}

/* CSS for About Us section */
#about {
  background-color: #f9f9f9;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about .container h3 {
  font-size: 20px;
  font-family: "Exo 2";
  margin-top: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.container h2 {
  color: #333;
  font-size: 2em;
  font-family: "Exo 2";
}

.container p {
  color: #666;
  font-size: 1.2em;
  /* display: flex;
    align-self: center;
    justify-self: center; */
}

/* CSS for Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

th,
td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #f2f2f2;
}

th {
  background-color: #ddd;
}

/* Highlight the first column (Name) */
td:first-child {
  font-weight: bold;
}

/* Hover effect on table rows */
tbody tr:hover {
  background-color: #f5f5f5;
}

/* CSS for Services section */
#services {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.container h2 {
  color: #333;
  font-size: 2em;
}

.container p {
  color: #666;
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* CSS for Service List */
.service-list {
  display: flex;
  flex-direction: column;
  list-style: none;

  justify-content: space-evenly;
}

.service-list .service-list-item {
  background: #fff;
  border-radius: 20px;
  border: 5px solid #fff;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 25px;
  flex-direction: column;
  padding: 10px;
  list-style: none;
  border: 1px solid #d3d3d3;
}

/* .service-list .service-list-item:hover {
  background-color: #d3d3d3;
} */

.service-list h3 {
  letter-spacing: 2px;
}

.service-list input {
  display: none;
}

/* .service-list input:checked ~ .service-list-item {
  height: 400px;
} */

.service-list .courses img {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.courses-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  transform: translate(1);
  border: 1px dotted black;
}

.courses-div:hover {
  transform: rotate(5deg);
}

.courses-div .icon {
  height: 180px;
  background-color: orange;
  width: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 50% 0px;
}
.service-list .courses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.service-list input:checked .courses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
/* CSS for Contact form */

#footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2d2d30;
  padding: 30px;
  flex-direction: row;
  color: #ddd;
}
#footer .container {
  height: fit-content;
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 50%;
  color: #d3d3d3;
}
#footer form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#footer .text-container {
  display: flex;
  flex-direction: row;

  width: fit-content;
  align-items: center;
  justify-content: center;
}
#footer .text-container .text {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 30px;
}
#footer .text-container .text h4 {
  font-size: 25px;
  font-family: "Exo 2";
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

#footer .text-container .text p {
  font-family: "Exo 2";
  font-size: 18px;
  text-align: center;
}

#footer .container .form-group input {
  border-radius: 5px;
  font-size: 15px;
  width: 80%;
}
/* #footer .container p {
  width: 60%;
  position: relative;
  left: 20%;
} */

#footer .container .btn-primary {
  margin-top: 15px;
  width: 70%;
  max-width: 350px;
  background: linear-gradient(to bottom right, #039fdb, #77e1d2);
  color: #0f0f0f;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

#footer .container h2 {
  color: #ddd;
  margin-bottom: 20px;
}

.footer-form form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-top: 10px;
  width: 100%;
  max-width: 400px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 700;
  width: 80%;
  text-align: left;
  position: relative;
  left: 40px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
  width: 80%;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}
